@define-color colorAccent #0088cc;
@define-color colorPrimary #0088cc;

.header-counters{
    background: rgba(255,255,255,.4);
}

.attachment{
    background: rgba (255,255,255,.8);
}

.card{
    background: #fff;
}
